* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  height: auto;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
input {
  background: none !important;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.app {
  display: flex;
  transition: 0.4s transform ease-in-out;
  position: relative;
}
.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}
.hideNav {
  transform: translateX(-20%);
  width: 120%;
}
.showNav {
  transform: translateX(0%);
}
.content {
  width: 80%;
  padding: 2% 3%;
}
.hamburger {
  position: fixed;
  left: 1%;
  font-size: 1.8rem;
  top: 1%;
  cursor: pointer;
  z-index: 1000;
  background: #ffffffd9;
  padding: 10px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none;
}
.sticky {
  justify-content: space-between;
  align-items: baseline;
  flex: 1;
  /* box-shadow: -6px 2px 8px 0px #ccc; */
  border-bottom: 1px solid lightgrey;
  padding-bottom: 25px;
  flex-direction: row;
}
.sticky input {
  font-size: 1.3rem;
}
.sticky__wrapper p {
  font-size: 1.4rem;
}
.panel {
  position: relative;
  margin-top: 2em;
}
h1 {
  font-size: 1.5em;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
button {
  border: 2px solid;
  background: transparent;
  cursor: pointer;
  display: block;
  min-height: 2.5em;
  min-width: 2.5em;
  border-radius: 3px;
}

.sticky__wrapper {
  display: flex;
  justify-content: space-between;
}
.hideContent {
  transform: translateX(-300px);
}
.showContent {
  transform: translateX(-300px);
}

@media all and (max-width: 1025px) {
  .sticky {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
  }
  .sticky__wrapper > * {
    flex: 1;
  }
  .hideNav {
    transform: none;
  }
  .hideNav nav {
    transform: translateX(-100%);
    width: 100%;
  }
  .showNav {
    transform: none;
  }
  .showNav nav {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 10;
  }
  .content {
    width: 100%;
    padding: 2% 3%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .app {
    display: block;
    width: 100%;
  }
}
@media all and (max-width: 770px) {
  h1,
  h2 {
    text-align: center;
  }
}
.active {
  display: block;
}
