* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  height: auto;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
.app {
  display: flex;
  transition: 0.4s transform ease-in-out;
}
.hideNav {
  transform: translateX(-20%);
  width: 120%;
}
.showNav {
  transform: translateX(0%);
}
.content {
  width: 80%;
  padding: 2% 3%;
}
.hamburger {
  position: fixed;
  left: 1%;
  font-size: 2rem;
  color: darkgray;
  top: 1%;
  cursor: pointer;
  z-index: 1000;
}
.hide {
  display: none;
}
.sticky {
  justify-content: space-between;
  align-items: baseline;
  flex: 1;
  /* box-shadow: -6px 2px 8px 0px #ccc; */
  border-bottom: 1px solid lightgrey;
  padding-bottom: 25px;
  flex-direction: row;
}
.panel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 4;
  margin-top: 2em;
}
h1 {
  font-size: 1.5em;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
button {
  border: 2px solid #2bbbad;
  background: transparent;
  cursor: pointer;
  color: #2bbbad;
  display: block;
  min-height: 2em;
  min-width: 2em;
}
.input {
  font-family: "Montserrat", sans-serif;
}
.sticky__wrapper {
  display: flex;
  justify-content: space-between;
}
.hideContent {
  transform: translateX(-300px);
}
.showContent {
  transform: translateX(-300px);
}

@media all and (max-width: 1025px) {
  .sticky {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
  }
  .sticky__wrapper > * {
    flex: 1;
  }
}
