.item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  text-align: center;
  position: relative;
  /* transition: 3s all ease-in-out; */
}
input {
  transition: 0.3s all ease-in-out;
  margin: 0;
}
.item__title {
  font-size: 1em;
  flex: 1;
}
.item__price,
.item__category,
.item__date {
  flex: 1;
}
.item__date {
  letter-spacing: 0.0825em;
  color: #959292;
  font-size: 0.8em;
}
.item--danger {
  background-color: #ffe1e1;
  margin-right: 5%;
}
.effect-left {
  left: -200%;
}
.effect-center {
  left: 0;
}
.effect-right {
  right: 200%;
}
.item__label {
  display: none;
}

@media all and (max-width: 770px) {
  .item {
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    display: inline-block;
    text-align: left;
    position: relative;
    padding: 3rem 0;
  }
  .item input {
    text-align: left;
    font-size: 1.4rem;
    display: block;
  }
  .item__date {
    order: -1;
  }
  .item__label {
    display: inline-block;
    padding-right: 2rem;
    float: left;
    width: 50%;
    margin: 0;
    line-height: 1.5;
  }
  .item__label p {
    float: right;
  }
  .item__price,
  .item__category,
  .item__date,
  .item__title {
    float: right;
    width: 50%;
    font-size: 1.4rem;
    line-height: 1.5;
  }
  .close {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
  }
}
